.group {
	position: relative;

	.form-input {
		cursor: text;
		border: none;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 1);
		color: rgb(0, 0, 0);
		font-size: 18px;
		padding: 10px;
		display: block;
		width: 100%;
		margin: 20px 0;
		&::-webkit-calendar-picker-indicator {
			cursor: pointer;
		}
		&:focus {
			outline: none;
		}
	}

	.form-input-label {
		color: grey;
		font-size: 10px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 0;
	}
}
