.group-form-container {
	width: 500px;
	margin: 20px;
	text-align: center;
}
.group-form-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.participant-line {
	display: flex;
	justify-content: space-around;
	.group {
		margin: 0 10px;
	}
}
