.navbar-container {
	float: left;
	width: max-content;
	display: block;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.navbar {
	width: 0px;
	box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
	overflow-x: hidden;
	background-color: #79c2fe;
	z-index: 3;
	height: 100vh;
	position: fixed;
	margin: 0;
	padding-top: 50px;
	transition: width 0.3s linear;
	white-space: nowrap;
	ul {
		list-style: none;
		padding: 20px;
		li {
			margin: 20px 0;
		}
	}
	a {
		font-size: 18px;
		text-decoration: none;
		color: white;
		&:hover {
			color: lightgrey;
		}
	}

	.close-nav {
		margin: 0 0 0 140px;
		font-size: 30px;
		cursor: pointer;
		&:hover {
			color: lightgrey;
		}
	}
}
.navbar.nav-open {
	width: 180px;
	transition: width 0.3s linear;
}
.signOutBtn {
	font-size: 16px;
	color: lightgrey;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	&:hover {
		color: white;
	}
}
