.draw-inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.draw-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px auto;
	text-align: center;
	color: white;
	.grid-cell {
		margin: 4px;
	}

	h2 {
		font-size: 30px;
	}
	h6 {
		font-size: 30px;
	}
}

.draw-button-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 140px;
}
