.modal-bground {
	z-index: 3;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.modal-wrapper {
	width: fit-content;
	padding: 50px;
	height: fit-content;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	background-color: #9dd1fb;
	color: white;
	z-index: 10;
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(124, 171, 210, 0.7);
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
		&:active {
			background-color: rgba(124, 171, 210, 0.8);
		}
	}

	::-webkit-scrollbar-track {
		background: rgba(209, 222, 232, 0.4);
		border-radius: 5px;
	}
	h1 {
		font-size: 30px;
	}
	.wishlist-content {
		max-height: 60vh;
		overflow-y: scroll;
		padding: 0 60px;
	}
	ul {
		list-style: none;
	}
	li {
		font-size: 20px;
	}
}
