.button-container {
	font-family: 'Poppins';
	border-radius: 50px;
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-size: 15px;
	background-color: #f74e4d;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	border: none;
	cursor: pointer;
	text-align: center;
	margin: 15px;
	border: 1px solid rgba(189, 34, 34, 1);
	box-shadow: 0px 10px 18px 0px rgba(189, 34, 34, 1);
	transition: transform 0.25s ease-out;
	&:hover {
		transform: scale(1.05);
		background-color: #f74e4d;
	}
	&:active {
		color: lightgrey;
		background-color: #f74e4d;
		border: 2px solid rgb(158, 60, 60);
	}
	&:disabled,
	&[disabled] {
		border: 1px solid #7a7a7a;
		background-color: #ada2a2;
		box-shadow: none;
		color: #837979;
		opacity: 0.6;
		&:hover {
			transform: none;
		}
	}
}
