.button-container {
	border-radius: 50px;
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-size: 15px;
	background-color: rgb(17, 70, 8);
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	border: none;
	cursor: pointer;
	text-align: center;
	margin: 15px;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
	&:hover {
		transform: scale(1.05);
		background-color: rgba(17, 70, 8, 1);
		border: 1px solid rgba(14, 50, 8, 0.9);
	}
	&:active {
		color: lightgrey;
		background-color: rgb(14, 55, 7);
	}
	&:disabled,
	&[disabled] {
		border: 1px solid #7a7a7a;
		background-color: #ada2a2;
		color: #837979;
		opacity: 0.6;
		&:hover {
			transform: none;
		}
	}
}
