.d-none {
	display: none;
}

.event-container {
	color: white;
	padding-top: 20px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.events-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 20px 20px;
	}
	.grid-cell {
		border: 4px solid rgba(0, 0, 0, 0.3);
		margin: 4px;
		padding: 20px;
	}
	a {
		text-decoration: none;
		font-size: 24px;
		color: white;
		&:hover {
			color: lightgrey;
		}
	}
}
.event-show-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;

	.headers-container {
		border: 4px solid rgba(0, 0, 0, 0.3);
		margin: 4px;
		padding: 20px;
	}
	.participants-container {
		border: 4px solid rgba(0, 0, 0, 0.3);
		margin: 4px;
		padding: 20px;
		font-size: 24px;
	}
	.receiver-info {
		border: 4px solid rgba(0, 0, 0, 0.3);
		margin: 4px;
		padding: 20px;
		font-size: 24px;
	}
	div {
		margin: 30px 0;
		text-align: center;
	}
	a {
		text-decoration: none;
		font-size: 24px;
		color: white;
		&:hover {
			color: lightgrey;
		}
	}
}

.wishlist-container {
	color: white;
	text-align: center;
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
	.wishlist-grid {
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		.grid-cell {
			border: 4px solid rgba(0, 0, 0, 0.3);
			margin: 4px;
			padding: 20px;
			a {
				text-decoration: none;
				font-size: 12px;
			}
		}
	}
}

.auth-container {
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-event-container {
	margin: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.welcome-container {
	padding: 100px;
	margin: 0 auto;
	canvas {
		display: block;
		vertical-align: bottom;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h1 {
		font-family: 'Festive';
		font-size: 80px;
	}
	h2 {
	}
	img {
		height: 320px;
	}
	a {
		text-decoration: none;
		border-radius: 50px;
		min-width: 165px;
		width: auto;
		height: 50px;
		letter-spacing: 0.5px;
		line-height: 50px;
		padding: 0 35px 0 35px;
		font-size: 15px;
		background-color: #f74e4d;
		color: white;
		text-transform: uppercase;
		font-weight: bolder;
		border: none;
		cursor: pointer;
		text-align: center;
		margin: 15px;
		transform: translateZ(0);
		transition: transform 0.25s ease-out;
		&:hover {
			transform: scale(1.05);
			background-color: #f74e4d;
			border: 1px solid rgba(189, 34, 34, 1);
		}
		&:active {
			color: lightgrey;
			background-color: #f74e4d;
		}
		&:disabled,
		&[disabled] {
			border: 1px solid #999999;
			background-color: #8f8e8e;
			color: #666666;
		}
	}
}
