.d-none {
	display: none;
}

.event-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	a {
		text-decoration: none;
		margin: 20px;
	}
}
.event-show-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	div {
		margin: 30px 0;
		text-align: center;
	}
	a {
		text-decoration: none;
		margin: 20px;
	}
}

.wishlist-container {
	text-align: center;
	padding: 100px;
}

.auth-container {
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-event-container {
	margin: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.welcome-container {
	padding: 100px;
	margin: 0 auto;
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
