.event-form-container {
	width: 380px;
	text-align: center;
	h2 {
		margin: 10px 0;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		input {
			width: 100%;
		}
	}
}
.datepicker {
	overflow: hidden;
	position: relative;
	margin: 0;
	height: 42px;
	.react-datepicker__input-container {
		height: 0;
	}
	.group {
		width: 100%;
		position: absolute;
		top: -37px;
	}
}

.mapbox {
	color: black;
}

.mapboxgl-ctrl-geocoder {
	top: -60px;
	width: 380px !important;
	height: 40px;
	margin: 0 !important;
	max-width: none !important;
	border-radius: 10px !important;
}

#map-container {
	height: 260px;
	overflow: visible;
}
